absl-py
alembic
astunparse
blinker
cachetools
certifi
charset-normalizer
click
cloud-tpu-client
colorama
dnspython
email_validator
Flask
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-Uploads
Flask-WTF
flatbuffers
gast
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-pasta
googleapis-common-protos
greenlet
grpcio
h5py
httplib2
idna
itsdangerous
Jinja2
libclang
Mako
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
namex
numpy
oauth2client
opt-einsum
optree
packaging
pillow
protobuf
pyasn1
pyasn1_modules
Pygments
pyparsing
python-dotenv
requests
rich
rsa
setuptools
six
SQLAlchemy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
typing_extensions
uritemplate
urllib3
Werkzeug
wheel
wrapt
WTForms
