<!-- app/templates/dashboard.html -->
{% extends "base.html" %}
{% block content %}
    <h1>Welcome to your dashboard, {{ current_user.username }}! 🧑</h1>
    <div class="card">
        <div class="card-header">
        </div>
        
    </div>
{% endblock %}
{% block footer %}
<!-- Footer -->
 <footer class="footer myfoot">
     <div class="container text-center">
         <p class="mb-0">© 2024 Lettuce Guardian. All rights reserved.</p>
     </div>
 </footer>
 {% endblock footer %}